body {
  background-color: var(--clr-bg);
  color: var(--clr-txt-strong);
  transition: background-color 0.4s ease, color 0.3s ease;
}

/* Section Title Scroll Animations */
.section-title {
  opacity: 0;
  letter-spacing: -0.5em;
  transition: all 0.4s ease;
}

.section-title.animate-in-view {
  opacity: 1;
  letter-spacing: 0em;
}

