
/* Z-INDEX */

@property --z-index-physics-canvas {
  syntax: "<number>";
  initial-value: 1;
  inherits: false;
}

@property --z-index-drain-hole {
  syntax: "<number>";
  initial-value: 2;
  inherits: false;
}

@property --z-index-gravity-chute {
  syntax: "<number>";
  initial-value: 3;
  inherits: false;
}

@property --z-index-high {
  syntax: "<number>";
  initial-value: 4;
  inherits: false;
}

@property --z-index-highest {
  syntax: "<number>";
  initial-value: 5;
  inherits: false;
}

/* COLOR */

@property --clr-primary {
  syntax: "<color>";
  initial-value: oklch(0.8818 0.1632 92.43);
  inherits: false;
}

@property --clr-txt-strong {
  syntax: "<color>";
  initial-value: oklch(0.1339 0.0026 106.74);
  inherits: true;
}

@property --clr-txt-weak {
  syntax: "<color>";
  initial-value: oklch(0.2761 0.0091 97.67);
  inherits: true;
}
