/* Z-INDEX */

@property --z-index-physics-canvas {
  syntax: "<number>";
  initial-value: 1;
  inherits: false;
}

@property --z-index-drain-hole {
  syntax: "<number>";
  initial-value: 2;
  inherits: false;
}

@property --z-index-gravity-chute {
  syntax: "<number>";
  initial-value: 3;
  inherits: false;
}

@property --z-index-high {
  syntax: "<number>";
  initial-value: 4;
  inherits: false;
}

@property --z-index-highest {
  syntax: "<number>";
  initial-value: 5;
  inherits: false;
}

/* COLORS AND SHADOWS */

/* LIGHT THEME (default) */
[data-theme="light"] {
  --clr-primary: oklch(0.8703 0.176 91.91);
  --clr-bg-base: hsl(48, 100%, 96%);
  --clr-bg-raised: hsl(48, 100%, 97%);
  --clr-bg-overlay: hsl(48, 100%, 98%);
  --clr-bg: oklch(0.9899 0.0164 95.22);
  --clr-txt-strong: oklch(0.1339 0.0026 106.74);
  --clr-txt-weak: oklch(0.2652 0.0079 84.59);
  --clr-stroke-strong: hsl(48, 50%, 65%);
  --clr-stroke-weak: hsl(48, 29%, 80%);

  /* SHADOWS */
  /* 1st - "direct"
   2nd - "ambient" */

  /* TBD */
  --shadow-elevation-1:
    0 2px 3px -1px hsla(0, 0%, 26%, 0.3),
    0 -0.5px 1px hsla(0, 0%, 10%, 0.1);


  /* Divs with physics boundaries */
  --shadow-elevation-2:
    0 4px 6px hsla(0, 0%, 25%, 0.15),
    0 3px 1px -1px hsla(0, 0%, 18%, 0.5);

  /* Header (sign; strings use el-1) */
  --shadow-elevation-3:
    0 4px 8px -1px hsla(0, 0%, 30%, 0.15),
    0 2px 3px -1px hsla(0, 0%, 16%, 0.4);

  /* TBD */
  --shadow-elevation-4:
    0 8px 16px hsla(0, 0%, 16%, 0.35),
    0 3px 6px hsla(0, 0%, 12%, 0.15);

  /* TBD - prolly modal/dialog*/
  --shadow-elevation-5:
    0 10px 16px -3px hsla(0, 0%, 30%, 0.4);

  /* Section titles */
  --text-shadow-1:
    0 1px 3px hsla(0, 0%, 26%, 0.1),
    0 1px 0px hsla(320, 91%, 17%, 0.651);

}

/* DARK THEME  */
:root[data-theme="dark"] {
  --clr-primary: oklch(0.8715 0.174 92.47);
  --clr-bg-base: oklch(0.1961 0.0039 95.26);
  --clr-bg-raised: hsl(48, 6%, 12%);
  --clr-bg-overlay: hsl(48, 6%, 16%);
  --clr-bg: oklch(0.1961 0.0042 84.59);
  --clr-stroke-strong: hsl(48, 60%, 20%);
  --clr-stroke-weak: hsl(48, 60%, 15%);

  --clr-txt-strong: oklch(0.9875 0.0026 106.45);
  --clr-txt-weak: oklch(0.9299 0.0084 95.14);
}




/* SPACING, RADIUS */
:root {
  --space-4px: 4px;
  --space-8px: 8px;
  --space-12px: 12px;
  --space-16px: 16px;
  --space-24px: 24px;
  --space-32px: 32px;
  --space-48px: 48px;
  --space-64px: 64px;
  --space-96px: 96px;

  /* Fluid Spacing: https://utopia.fyi/space/calculator/?c=375,16,1.25,1920,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-4-8px: clamp(4px, 3.0291px + 0.2589vw, 8px);
  --space-8-12px: clamp(8px, 7.0291px + 0.2589vw, 12px);
  --space-12-16px: clamp(12px, 11.0291px + 0.2589vw, 16px);
  --space-16-24px: clamp(16px, 14.0583px + 0.5178vw, 24px);
  --space-24-32px: clamp(24px, 22.0583px + 0.5178vw, 32px);
  --space-32-48px: clamp(32px, 28.1165px + 1.0356vw, 48px);
  --space-48-64px: clamp(48px, 44.1165px + 1.0356vw, 64px);
  --space-64-96px: clamp(64px, 56.233px + 2.0712vw, 96px);


  /* BORDER RADIUS */
  --radius-2px: 2px;
  --radius-4px: 4px;
  --radius-8px: 8px;
  --radius-16px: 16px;
  --radius-50px: 50px;
}